<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Log-in{% endblock %} </title>
</head>
<body>
    {% block content %}
        <h1>Log-in</h1>
        <div class="module">
            {% if form.errors %}
                <p>Your username or password didn't match, Please try again.</p>
            {% else %}
                <p>Use the form bellow to login</p>
            {% endif %}
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{next}}">
                    <p><input type="submit" value="Log-in"></p>
                </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>